<style>
body { font-size: xx-large;
           
}

        
    
.lh {  
background-color: #4b4bf8;
color: white;
}

.lb {
background-color: rgb(29, 214, 29);
color: white;
}
.bb {
color: #f2f213;
}

.cc{
color: #fa3bc4;
}
   


</style>