<style>
body {
font-family: 'Arial', sans-serif;
background-color: hwb(75 9% 3%);
text-align: center;
}

header {
background-color: hwb(0 13% 5%);
color: #fff;
padding: 10px;
}

h1 {
font-size: 2em;
font-weight: bold;
color: #0000cc; 
}

h1:hover {
font-style: italic;
color: hwb(240 0% 0%); 
}

h2 {
font-size: 1.5em;
font-weight: bold; 
color: #ff0000; 
}

p {
font-size: 1em;
line-height: 1.5;
text-align: justify;
          
}
</style>